@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Courier+Prime:ital@1&family=IBM+Plex+Mono:wght@500&display=swap');
body{
    background-image: url(./img/Fondo\ de\ pantalla\ para\ escritorio\ organizador.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: stretch;


}
.col1{
   display: block;
   flex-grow: 0;
   flex-shrink: 1;
   padding:30px;
 }

.col2{
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
    border: solid 10px;
    border-color: azure;
    padding:30px;
  }

.titulo{
    font-family: 'Caveat', cursive;
    font-size: 5em;
    color:rgb(5, 10, 5);
}
.descripcion{
    padding:20px;
}
.tarjeta{
    border: solid 10px;
    border-color: blueviolet;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
}
.nombre{
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    font-size: 20px;
    margin:0px;
    text-align: center;
}
.profesion{

    color:rgb(14, 165, 14);
    margin:0px; 
    text-align: center;
}
.dato{
    font-family: 'Courier Prime';
    font-size: 16px;
    color:rgb(14, 165, 14);
    margin:0px;
    text-align: center;
    padding-top: 20px;

}
