@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
body{
    background-image: url(./img/pexels-vlad-bagacian-1028443.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
h2{
    font-family: 'Caveat', cursive;
    font-size: 5em;
    color:rgb(5, 10, 5);
};
