@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Courier+Prime:ital@1&family=IBM+Plex+Mono:wght@500&display=swap&family=Open+Sans:wght@300&display=swap');
body{
    background-image: url(./img/Fondo\ de\ pantalla\ para\ escritorio\ organizador.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: stretch;
}
.col1{
   flex-grow: 1;
   padding:30px;
   width: 60%;
 }

.col2{
    flex-grow: 1;
    align-self: center;
    padding:90px 30px 30px;
    width: 40%;
    min-width: 180px;
  }

.titulo{
    font-family: 'Caveat', cursive;
    font-size: 5em;
    color:rgb(5, 10, 5);
}
.descripcion{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: black;    
    padding:20px;
}
.tarjeta{
    border: solid 1px;
    border-color: rgb(132, 140, 139);
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    width: 200px;
    background-image: url(./img/fondo_tarjeta.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.nombre{
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    font-size: 20px;
    margin:0px;
    text-align: center;
}
.profesion{

    color:black;
    margin:0px; 
    text-align: center;
}
.dato{
    font-family: 'Courier Prime';
    font-size: 16px;
    color:black;
    margin:0px;
    text-align: center;
    padding-top: 20px;
}
.boton{
    padding-top: 30px;
    padding-left: 45%;
}
.boton_conoceme{
    height: 40px;
    width: 120px;
    font-size: 18px;
}
